body {
    background: linear-gradient(to right, #0a2351, #AA0000);
}

img {
    display: block;
    width: 60%;
    margin: auto;
}

h1 {
    font-family: papyrus;
    color: white;
}

h2 {
    font-family: papyrus;
    color: white;
}

h3 {
    font-family: papyrus;
    color: white;
}

p {
    font-family: papyrus;
    color: white;
}